* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    background-image: url("../image/banner.png");
}

header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.nav-menu li {
    list-style: none;
    color: black;
    display: inline-block;
    border-right: 1px solid #4d4d4d;
    padding-right: 19px;
    margin-right: 19px;
}

nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
}

.nav-menu li:last-child {
    border-right: none;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: blueviolet
}

.image {
    display: block;
    margin-top: 32px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
}

/****/
.para {
    font-family: 'Open Sans', sans-serif;
    padding-left: 94px;
}

.para__title {
    color: white;
    font-size: 48px;
    margin-bottom:0;
}

.para__desc {
    margin-bottom: 37px;
}

.btn {
    padding: 10px 50px;
    
    text-decoration: none;

}

.btn-primary {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background-color: #000000;
   

}

.btn-secondary {
    padding: 10px 33px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #4cc0e0;
   

}

/****/
/******** main section******/
.services {
    margin: 0 0 55px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #676f75;
    font-size: 48px;
    text-transform: uppercase;
}

.os {
    padding: 0 32px;
}

.os__pic {
    color: #4cc0e0;
    border: 11px solid #4cc0e0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.os__title {
    color: #4cc0e0;
    padding-top: 29px;
    font-size: 22px;
}

.os__desc {
    font-size: 14px;
    padding-bottom: 25px;
}



.col-lg-4 {
    text-align: center;
}

/*** Contact section ***/
.contact {
    text-align: center;
    background-image: url("../image/footer.png");
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dam {
    text-align: center;
    font-size: 15px;
}

.contact__title {
    color: #4cc0e0;
    font-size: 30px;
    padding-top: 55px;
}

.contact__desc {
    font-size: 16px;
    color: #fff;
   padding: 0 260px;
    
}
.form-item__input{
    height:43px ;
    width:523px;
}
.form-item__inp {
    height:140px ;
    width:523px;
   
}
.form-item__label {
    color:#fff;
    margin-right:1800px ;
}
.btn-success{
    padding: 10px 77px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
    background-color: #499200; 
    border:none; 
}


/*Responsive */
@media only screen and (max-width: 899px) {
    .toggle-button {
        display: block;
        margin-top: 8px;
    }

    .nav-menu {
        display: none;
    }

    .showing {
        display: block;
    }

    .nav-menu li {
        display: block;
    }

    a {
        text-decoration: none;
    }

    .toggle-button {
        display: flex;
    }

    .image {
        display: none;
    }

   .banner{
    height:430px
   } 
   .os__pic{
    margin-top: 30px;
   }

   .contact__desc {
   padding: 0 ;
    
}

.form-item__input{
    height:43px ;
    width:400px;
}
.form-item__inp {
    height:140px ;
    width:400px;
   
}


   
}


   
