* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    background-image: url("../image/banner.png");
    background-size: cover;
}
header {
    background-color: #000000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4px;
}
.nav-menu li {
    list-style: none;
    color: black;
    display: inline-block;
    border-right: 1px solid #4d4d4d;
    padding-right: 19px;
    margin-right: 19px;
}
.nav-menu li .active {
    color: #4cc0e0;
}
nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
}
.nav-menu li:last-child {
    border-right: none;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
}
.nav-menu li a:hover {
    color: blueviolet
}
.image {
    display: block;
    margin-top: 32px;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
/****/
.para {
    font-family: 'Open Sans', sans-serif;
    padding-left: 94px;
}
.para__title {
    color: white;
    font-size: 48px;
    margin-bottom: 0;
}
.para__desc {
    margin-bottom: 37px;
}
.btn {
    padding: 10px 50px;
    text-decoration: none;
}
.btn-primary {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background-color: #000000;
}
.btn-secondary {
    padding: 10px 33px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #4cc0e0;
    margin-bottom: 30px;
}
/****/
/******** main section******/
.services {
    padding: 30px ;
}
.services__title {
    color: #676f75;
    font-size: 48px;
    text-align: center;
    margin-bottom: 55px;
}
h2 {
    font-weight: normal;
}
.os {
    padding: 0 32px;
}
.os__pic {
    color: #4cc0e0;
    border: 11px solid #4cc0e0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.os__title {
    color: #4cc0e0;
    margin-top: 29px;
    font-size: 22px;
}
.os__desc {
    font-size: 14px;
    padding-bottom: 25px;
}
.col-lg-4 {
    text-align: center;
}
/*** Contact section ***/
.contact {
    text-align: center;
    background-image: url("../image/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 30px 0;
}
.foot {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
.contact__title {
    text-align: center;
    color: #4cc0e0;
    font-size: 30px;
    font-weight: bold;
}
.contact__desc {
    font-size: 16px;
    color: #fff; 
    padding: 0 230px;
    margin:30px;
}



.container-customize {
    max-width: 850px;
  }
.form-item__input {
    height: 43px;
    width: 523px;
    margin-bottom: 20px;
}
.form-item__inp {
    height: 140px;
    width: 523px;
    margin-bottom: 25px;
}
.form-item__label {
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
    max-width: 100px;
    text-align: left;
    line-height: 43px;
    flex: 0 0 100px;
}
.btn-success {
    padding: 12px 70px;
    font-size: 14px;
    line-height: 14px;
    background-color: #499200;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
   margin-left:152px;
}
/*Responsive */
@media only screen and (max-width: 899px) {
    .toggle-button {
        display: block;
        margin-top: 8px;
        display: flex;
    }
    .nav-menu {
        display: none;
        width: 100%;
    }
    .showing {
        display: block;
    }
    .nav-menu li {
        display: block;
        text-align: center;
        border-right: none;
        margin-bottom: 15px;
    }
    .nav-menu ul {
        width: 100%;
        flex-direction: column;
    }
    a {
        text-decoration: none;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .image {
        display: none;
    }
    .banner {
        height: auto;
        padding: 30px 0;
    }
    .os__pic {
        margin-top: 30px;
    }
    .contact__desc {
        padding: 0;
    }
    .form-item__input {
        height: 43px;
        width: 400px;
    }
    .form-item__inp {
        height: 140px;
        width: 400px;
    }
    .btn-success {
       margin-left:0px;
    }
}